Flask==2.3.3
Flask-CORS==4.0.0
ollama==0.1.7
Werkzeug==2.3.7
Pillow==10.0.1
pymongo==4.6.0
rapidfuzz==3.6.1
python-dateutil==2.8.2
langchain==0.2.14
langchain-community==0.2.12
faiss-cpu==1.8.0.post1
pypdf==4.3.1


